:root {
    --color-primary: #f3f3ff;
    --font-family: "PT Sans", sans-serif;
    --font-family-heading: "Ubuntu", sans-serif;
}

* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
    border: none;
}

.page_container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}

.movies_detail_container {
    display: flex;
    width: 1200px;
    margin: 80px auto 40px;
}

.movies_detail_container img {
    width: 300px;
    height: 440px;
    border-radius: 8px;
    box-shadow: 0 3px 6px hsla(0, 0%, 79%, .5);
}

.movies_text_info_container {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.movies_text_info_container h1 {
    font-family: var(--font-family-heading);
    font-size: 36px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.movies_text_info_container h2 {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.movies_text_info_container h3 {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0;
}

.movies_text_info_container h4 {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #5a5a5a;
}

.movies_text_info_container p {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
}

.movies_rating_container {
    font-size: 32px;
    cursor: pointer;
}

.movies_rating_container_star {
    color: gray;
    transition: color 0.2s;
}

.movies_rating_container[data-rating="1"] .movies_rating_container_star:nth-child(-n + 1),
.movies_rating_container[data-rating="2"] .movies_rating_container_star:nth-child(-n + 2),
.movies_rating_container[data-rating="3"] .movies_rating_container_star:nth-child(-n + 3),
.movies_rating_container[data-rating="4"] .movies_rating_container_star:nth-child(-n + 4),
.movies_rating_container[data-rating="5"] .movies_rating_container_star:nth-child(-n + 5) {
    color: gold;
}

.movies_text_comment_container {
    width: 100%;
    height: 100px;
    padding: 10px;
    align-items: end;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    outline: none;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
    color: #5a5a5a;
    resize: none;
}

.movies_detail_container button {
    width: 500px;
    height: 32px;
    color: #ffffff;
    margin: 20px 0;
    background: #E46962;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    padding: 4px 16px;
    outline: none;
}

@media (max-width:767px) {
    .movies_detail_container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .movies_text_info_container {
        align-items: center;
        width: 100%;
        margin: 15px;
    }

    .movies_text_info_container h1 {
        font-size: 22px;
        align-items: center;
    }

    .movies_text_info_container h2 {
        font-size: 18px;
        align-items: center;
    }

    .movies_text_info_container h3 {
        font-size: 17px;
        align-items: center;
    }

    .movies_text_info_container h4 {
        font-size: 15px;
        align-items: center;
        margin-left: 25px;
        margin-right: 25px;
    }

    .movies_text_info_container p {
        font-size: 13px;
        align-items: center;
    }

    .movies_rating_container {
        font-size: 24px;
    }

    .movies_text_comment_container {
        margin: 20px;
        width: 100%;
    }

    .movies_detail_container button {
        width: 100%;
    }
}